body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  font-size: calc(10px + 1.6vh);
}

#body-content {
  height: 100vh;
  text-align: center;
  align-content: center;
}

#poem {
  height: 100vh;
  align-content: center;
}

#poem-title {
  max-width: 40vw;
}

#poem-content {
  max-width: 80vw;
}